@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

@import 'variables';

* {box-sizing: border-box;}

body {
	font-family: $proxima, $arial;
	font-size: 16px;
	color:$gray--dark;
}

@import 'corporate-nav';
.undergraduate{
@import 'undergrad-nav';
@import 'secondary-nav';
@import 'carousel';
@import 'department-LP-styles';
@import 'footer';
@import 'video-wrapper';
.wrapper{
	position:relative;
	margin:auto;
	.container{
		float:right;
		width:calc(100% - 250px)
	}
	nav{
		float:left;
	}
}
}







