.undergraduate .navbar-default ul.nav > li.active > a:not(.btn), .undergraduate .navbar-default ul.nav > li.open > a:not(.btn), .undergraduate > .navbar-default ul.nav > li > a:hover:not(.btn) {
  background-image: none;
  box-shadow: none;
  display: block;
  vertical-align: text-bottom;
  color: #ffffff;
  padding-top: 55px; }

.undergraduate .navbar-quicklinks ul.dropdown-menu:hover, .undergraduate .navbar-quicklinks a.dropdown-toggle:hover + .dropdown-menu {
  display: block;
  transition: 1s;
  transition-delay: 2s; }

.item > img, .item > .jumbotron {
  min-height: 100%;
  margin: auto;
  background-color: #eeeeee; }

.carousel-caption h1, .carousel-caption p {
  padding: 0;
  margin: 0;
  line-height: .9em; }

* {
  box-sizing: border-box; }

body {
  font-family: proxima-nova, Arial;
  font-size: 16px; }

.undergraduate .navbar-default {
  background-color: #ffffff !important;
  background-image: none;
  border: none;
  box-shadow: none;
  z-index: 3; }
  .undergraduate .navbar-default ul li {
    position: static; }
    .undergraduate .navbar-default ul li > a:hover {
      background-color: #eeeeee;
      color: #7d7d7d; }
      .undergraduate .navbar-default ul li > a:hover:not(.btn) {
        text-decoration: none;
        color: #ffffff;
        transition: .5s;
        background-image: none; }
    .undergraduate .navbar-default ul li > a:not(.btn) {
      color: #7d7d7d;
      text-decoration: none;
      padding: inherit 1em;
      position: relative;
      bottom: 0;
      text-transform: uppercase;
      font-family: proxima-nova-extrabold, proxima-nova, Arial;
      font-weight: bold;
      transition: .75s; }
    .undergraduate .navbar-default ul li.active, .undergraduate .navbar-default ul li.open {
      display: block;
      height: 100%; }
      .undergraduate .navbar-default ul li.active > a, .undergraduate .navbar-default ul li.open > a {
        background-color: #eeeeee;
        color: #7d7d7d; }
        .undergraduate .navbar-default ul li.active > a:hover:not(.btn), .undergraduate .navbar-default ul li.open > a:hover:not(.btn) {
          color: #ffffff;
          text-decoration: underline; }
    .undergraduate .navbar-default ul li.Majors.open > a, .undergraduate .navbar-default ul li.Majors.active > a {
      background-color: #b42e34; }
    .undergraduate .navbar-default ul li.Majors a:hover {
      background-color: #b42e34; }
    .undergraduate .navbar-default ul li.Admissions.active > a {
      background-color: #b42e34; }
    .undergraduate .navbar-default ul li.Admissions > a:hover {
      background-color: #b42e34; }
    .undergraduate .navbar-default ul li.FinAid.active > a {
      background-color: #0194d3; }
    .undergraduate .navbar-default ul li.FinAid > a:hover {
      background-color: #0194d3; }
    .undergraduate .navbar-default ul li.IWULife.active > a {
      background-color: #5c8727; }
    .undergraduate .navbar-default ul li.IWULife > a:hover {
      background-color: #5c8727; }
  .undergraduate .navbar-default .navbar-brand img {
    display: block; }
.undergraduate .navbar {
  margin-top: 2em; }
  .undergraduate .navbar .nav {
    margin-top: 30px;
    height: 89px; }
    .undergraduate .navbar .nav > .nav-divider {
      border: solid 0 #cccccc;
      width: 1px;
      height: 3em;
      display: block;
      margin: 0 .5em;
      content: "\&nbsp"; }
  .undergraduate .navbar .container {
    position: relative; }
.undergraduate .dropdown-menu.container {
  position: absolute; }
.undergraduate .dropdown-menu ul {
  margin: 0;
  padding: 0; }
  .undergraduate .dropdown-menu ul li a {
    display: block;
    padding: .35em .75em;
    clear: both;
    line-height: 1.42857143;
    white-space: nowrap; }
.undergraduate .dropdown-menu li {
  list-style-type: none; }
.undergraduate .dropdown-menu > li.Admissions a:hover {
  background-color: #b42e34; }
.undergraduate .navbar-apply {
  margin-top: 34px;
  margin-left: 10px; }
  .undergraduate .navbar-apply a {
    display: block;
    text-transform: uppercase;
    padding: .35em 2em .25em 1em;
    background-color: #b42e34;
    border-radius: 3px;
    text-decoration: none;
    border-bottom: 6px #9a0323 solid;
    transition: 1.5s;
    color: #ffffff; }
    .undergraduate .navbar-apply a:hover {
      color: #ffffff;
      background: #9a0323;
      text-decoration: none;
      border-bottom: 3px #b42e34 solid;
      box-shadow: inset 0 -5px 0.5em #b42e34;
      transition: 1.5s; }
      .undergraduate .navbar-apply a:hover .fa {
        color: #b42e34 !important; }
        .undergraduate .navbar-apply a:hover .fa:after {
          font-family: FontAwesome;
          content: '\f00c';
          transition: .5s;
          color: #ffffff; }
  .undergraduate .navbar-apply .fa {
    position: absolute;
    top: .35em;
    right: .5em;
    font-size: 1.15em;
    transition: 1.5s; }
    .undergraduate .navbar-apply .fa:after {
      top: .275em;
      right: .15em;
      color: #b42e34;
      font-size: .65em;
      position: absolute;
      content: '\f00c';
      font-family: FontAwesome; }
  .undergraduate .navbar-apply:hover span.fa {
    transform: rotate(-360deg);
    transition: 1.5s; }
.undergraduate .navbar-form {
  margin: 38px 3em 0; }
  .undergraduate .navbar-form input.form-control {
    border: none;
    border-radius: 0 !important;
    padding-top: .25em;
    padding-bottom: .25em;
    line-height: 18px;
    font-size: 1em;
    background-color: #eeeeee;
    color: #7d7d7d;
    height: auto;
    width: 10em; }
    .undergraduate .navbar-form input.form-control:-moz-placeholder {
      color: #7d7d7d;
      opacity: 1; }
    .undergraduate .navbar-form input.form-control:-ms-input-placeholder {
      color: #7d7d7d; }
    .undergraduate .navbar-form input.form-control:placeholder-shown {
      color: #7d7d7d; }
  .undergraduate .navbar-form input.form-control::-webkit-input-placeholder {
    color: #7d7d7d; }
  .undergraduate .navbar-form input.form-control::-moz-placeholder {
    color: #7d7d7d;
    opacity: 1; }
  .undergraduate .navbar-form button.btn-go {
    color: #b42e34;
    background: none;
    border: none;
    transition: .5s; }
    .undergraduate .navbar-form button.btn-go:hover {
      color: #7d7d7d;
      transition: .5s;
      transform: rotate(45deg); }
.undergraduate .navbar-brand {
  height: auto;
  margin-right: 2em; }
.undergraduate .corporate-nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  border-bottom: solid 2px #eeeeee;
  overflow: hidden;
  margin-bottom: 0; }
  .undergraduate .corporate-nav a {
    display: block;
    width: 100%;
    height: 100%; }
  .undergraduate .corporate-nav__corporate {
    height: 30px;
    line-height: 30px;
    padding: 0;
    background-color: #9a0323;
    text-align: Center;
    font-size: 14px; }
    .undergraduate .corporate-nav__corporate a {
      color: #ffffff; }
      .undergraduate .corporate-nav__corporate a:hover {
        text-decoration: unerline;
        color: #eeeeee; }
  .undergraduate .corporate-nav__res, .undergraduate .corporate-nav__nres {
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    text-align: center;
    padding: 0; }
    .undergraduate .corporate-nav__res:hover, .undergraduate .corporate-nav__nres:hover {
      background-color: #7d7d7d; }
      .undergraduate .corporate-nav__res:hover a, .undergraduate .corporate-nav__nres:hover a {
        color: #ffffff; }
    .undergraduate .corporate-nav__res a, .undergraduate .corporate-nav__nres a {
      color: #b42e34; }
  .undergraduate .corporate-nav__res:hover {
    background-color: #b42e34; }
  .undergraduate .corporate-nav__nres:hover {
    background-color: #005581; }
.undergraduate a.unstyled {
  text-decoration: none; }
.undergraduate a:hover.unstyled {
  color: inherit;
  text-decoration: underline; }
.undergraduate .menuUnderlay {
  opacity: 1;
  z-index: -1;
  height: 0;
  width: 100%;
  position: fixed;
  top: 0;
  transition: .5s; }
.undergraduate .navbar-quicklinks {
  position: absolute;
  top: 0;
  margin-top: -2em;
  right: 16.6%;
  display: block;
  width: auto;
  height: auto; }
  .undergraduate .navbar-quicklinks ul.nav-quicklinks li.active > a {
    padding: 0.5em 1em !important;
    background-color: #b42e34; }
  .undergraduate .navbar-quicklinks ul.nav-quicklinks li > a:hover {
    padding: 0.5em 1em !important;
    background-color: #b42e34;
    padding: 0.5em 1em !important;
    background-color: #b42e34; }
  .undergraduate .navbar-quicklinks .nav.nav-quicklinks {
    position: relative;
    height: auto;
    margin-top: 0; }
.undergraduate .carousel-indicators {
  bottom: -40px; }
  .undergraduate .carousel-indicators li {
    background-color: #7d7d7d;
    border-color: #ffffff;
    height: 8px;
    width: 8px;
    border-radius: 8px; }
    .undergraduate .carousel-indicators li.active {
      background-color: #9a0323;
      border-color: #ffffff;
      height: 10px;
      width: 10px;
      border-radius: 10px; }
.undergraduate li .dropdown-menu > li a:hover {
  background-color: #eeeeee;
  color: #7d7d7d; }
.undergraduate .Majors .dropdown-menu li a:hover {
  background-color: #b42e34; }
.undergraduate .FinAid .dropdown-menu li a:hover {
  background-color: #0194d3; }
.undergraduate .IWULife .dropdown-menu li a:hover {
  background-color: #5c8727; }
.undergraduate .opaque--light .menuUnderlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  display: block;
  opacity: .80;
  background-color: #000000;
  z-index: 2;
  transition: .5s; }
.undergraduate ul.nav.nav-quicklinks li a {
  padding: 0.5em 1em !important;
  font-size: 8pt; }
  .undergraduate ul.nav.nav-quicklinks li a:hover {
    padding: 0.5em 1em !important;
    font-size: 8pt; }
.undergraduate .indwes-footer hr {
  border-color: #7d7d7d !important;
  margin: 2em auto 0;
  text-align: center; }
.undergraduate .content > .container > .row {
  margin-bottom: 3em; }
.undergraduate .content > .container-fluid > .row {
  margin-bottom: 3em; }
.undergraduate .dropdown li.dropdown ul {
  position: absolute;
  left: 100%;
  top: 0;
  opacity: 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  height: 0;
  transition: all ease-in-out 1s;
  z-index: -1; }
.undergraduate .dropdown li.dropdown:hover ul {
  display: block;
  height: 100%;
  opacity: 1;
  transition: all ease-in-out .5s;
  z-index: 10; }

.carousel-control {
  opacity: 0;
  cursor: pointer; }
  .carousel-control.left {
    background-image: none; }
  .carousel-control.right {
    background-image: none; }

.item {
  min-height: 400px; }

.carousel-caption {
  text-align: left;
  padding: 7px 20px;
  line-height: 1em;
  border-left: 7px solid #ffffff; }
  .carousel-caption.light {
    border-left: 7px solid #eeeeee;
    color: #eeeeee; }
  .carousel-caption.dark {
    border-left: 7px solid #464646;
    color: #464646;
    text-shadow: none; }
  .carousel-caption.info {
    color: #0194d3;
    border-color: #0194d3;
    text-shadow: none; }
  .carousel-caption.academics {
    color: #b42e34;
    border-color: #b42e34; }

.majors {
  margin: auto;
  float: none;
  width: auto; }
  .majors__list {
    display: block;
    max-width: 870px;
    margin: auto;
    padding: 0; }
  .majors__major {
    height: 250px;
    width: 250px;
    background-color: #b42e34;
    border-radius: 4px;
    color: #ffffff;
    list-style: none;
    margin: 20px;
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    transition: all .3s ease-in-out; }
    .majors__major:hover {
      -webkit-filter: none;
      filter: none; }
    @media screen and (max-width: 764px) {
      .majors__major {
        background: none;
        height: auto;
        width: 49%;
        display: inline-block;
        margin: 0; } }
  .majors__image {
    border-radius: 4px;
    transition: all .3s ease-in-out; }
    .majors__image:hover {
      -webkit-transform: scale(1.25);
      /* Safari and Chrome */
      -moz-transform: scale(1.25);
      /* Firefox */
      -ms-transform: scale(1.25);
      /* IE 9 */
      -o-transform: scale(1.25);
      /* Opera */
      transform: scale(1.25); }
    @media screen and (max-width: 764px) {
      .majors__image {
        display: none; } }
  .majors__caption {
    color: #ffffff;
    text-align: center;
    position: absolute;
    border-radius: 4px;
    bottom: 0;
    padding: 14px;
    background: rgba(0, 0, 0, 0.4);
    display: block;
    width: 250px;
    height: 50px; }
    @media screen and (max-width: 764px) {
      .majors__caption {
        color: #7d7d7d;
        position: relative;
        background: none;
        height: auto;
        width: 100%; } }

.navbar ul.nav:not(.dropdown) > li > a:hover {
  padding-top: 55px; }

.carousel .item {
  margin-bottom: 0;
  max-height: 400px;
  background-color: #ffffff; }

.carousel-inner {
  margin-bottom: 1.5em; }

.container {
  margin-bottom: 30px; }

.hero-vid {
  height: 500px;
  overflow: hidden;
  margin: 50px 0;
  padding: 0;
  position: relative; }
  .hero-vid__video {
    min-width: 100%;
    min-height: 100%; }
  .hero-vid__overlay {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.4); }

.news__list {
  list-style: none;
  margin: 0;
  padding: 0; }
.news__img {
  width: 300px;
  border-radius: 4px; }
.news__title {
  font-size: 1.5em;
  max-width: 280px;
  margin: 10px 0 10px 10px;
  line-height: 1.15em;
  color: #acacac; }
.news__teaser {
  max-width: 280px;
  margin-left: 10px;
  color: #acacac;
  font-size: 1em; }

.events {
  position: relative; }
  .events__event {
    margin-top: 10px; }
  .events__list {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .events__title {
    margin-top: 15px;
    color: #acacac;
    font-size: 1.2em; }
  .events__time {
    color: #acacac;
    font-size: 1.2em; }
  .events__date {
    padding: 0;
    width: 80px;
    height: 80px;
    background-color: #be3439;
    border-radius: 4px;
    color: #ffffff;
    font-family: proxima-nova; }
  .events__day {
    text-align: center;
    font-size: 3em;
    line-height: .8em;
    margin-top: 12px; }
  .events__month {
    text-align: center;
    font-size: 1.3em; }
  .events__link {
    display: inline-block;
    width: 100%; }
  .events__divider {
    height: 100%;
    width: 1px;
    border-left: 1px solid lightgrey;
    position: absolute;
    top: 0;
    left: -40px; }
    @media screen and (max-width: 1199px) {
      .events__divider {
        display: none; } }

.careers__list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
.careers__career {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  font-size: 1.3em;
  width: 33%; }
  @media screen and (max-width: 764px) {
    .careers__career {
      font-size: .8em;
      width: 49%; } }
.careers__link {
  text-decoration: none;
  color: #7d7d7d; }

.faculty__grid {
  margin: 0 auto; }
  .faculty__grid:after {
    content: '';
    display: block;
    clear: both; }
.faculty__sizer {
  width: 25%; }
.faculty__caption {
  width: 100%;
  display: block;
  height: 65px;
  color: #ffffff;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  line-height: 18px; }
.faculty__name {
  font-size: 1.2em;
  margin-top: 15px; }
.faculty__title {
  font-size: .9em; }
.faculty__profile {
  width: 25%;
  float: left;
  height: 225px;
  text-decoration: none;
  background-size: cover;
  background-image: url("http://lorempixel.com/450/450/people");
  background-position: center;
  border: 5px solid #ffffff;
  border-radius: 7px; }
.faculty__profile--width2 {
  width: 50%; }
.faculty__profile--height2 {
  height: 450px; }
.faculty__image {
  max-height: 100%; }

.sub-footer__wrapper {
  background-color: #ebebeb;
  margin: 80px 0; }
.sub-footer__info {
  padding-top: 50px; }
.sub-footer__list {
  list-style: none;
  margin: 0;
  padding: 0; }
.sub-footer__link {
  width: 49%;
  display: inline-block;
  padding-bottom: 1em;
  text-align: center; }
.sub-footer__contact {
  background-color: #d6d7d8;
  height: 300px;
  padding-top: 50px;
  text-align: center; }
.sub-footer__button {
  background-color: #0194d3;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  line-height: 1.8em;
  margin-top: 20px; }
.sub-footer__social {
  padding-top: 30px; }

.footer {
  border-top: 1px solid grey;
  padding: 40px 60px;
  color: #7d7d7d;
  font-size: .8em; }
  .footer__links {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .footer__link {
    text-decoration: none;
    color: #7d7d7d; }
  .footer__logo {
    margin: 0 auto;
    display: block;
    margin-top: 25px; }
  .footer__address {
    text-align: right; }
  .footer__social {
    text-align: right;
    margin-top: 55px; }
  .footer__main {
    padding-bottom: 10px;
    border-bottom: 1px solid grey; }
  .footer__copyright {
    text-align: center;
    margin-top: 20px; }

h2 {
  margin-bottom: 30px;
  color: #7d7d7d; }

h3 {
  color: #7d7d7d; }

a {
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
